body {
    min-height: 100dvh;
  }
  main {
    height: 100%;
  }
  /* Grid container for the whole page */
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    
  }
  
  /* Splash photo section in the top left of the page */
  .splash {
    background-image: url("../images/unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: #d4c5c7;
    grid-column: 1/-1;
    grid-row: 1/5;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 65dvh;
  }
  
  /* H1 heading in the splash section */
  main h1 {
    font-weight: 900;
    font-size: 3rem;
    color: #512136;
  }
  
  /* Panel section containing the content of the page */
  .container .panel {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 2/12;
    grid-row: 4/-1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    background-color: #e5ecf4;
    margin-bottom:30px;
    
  }
  
  /* Section containing the content of the page */
  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  /* H2 heading in the section */
  section h2 {
    font-weight: 700;
    color: #512136;
  }
  
  section h3{
    font-weight: 600;
    color: black;
  }

  .panel section:nth-of-type(4){
      text-align: center;
  }
  
  .education-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: square;
    margin-left: 1%;

  }

